/*---------------sheared css-------------*/

body{
    font-family: 'Work Sans', sans-serif;
}





.banner{
    width: 1600px;
    height: 100vh;
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.cloumn{
    display: flex;
    width:550px;
    flex-direction: column;
    position: absolute;
    top:180px;
    right:230px;
}
.banner-text{
    font-size: 65px;
    font-weight: 700;
    text-align: right;
    color:#151414;
    margin-bottom: 15px;
}
.banner-disc{
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    color:#444343 ;
    line-height: 26px;
    margin-top: 20;
}
.btn{
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    background: #F15B22;
    position: absolute;
    bottom: 120px;
    right: 230px;
    padding: 15px 20px;
    border-radius: 5px;
    color:#fff;
    outline: none;
}




